<!DOCTYPE html>
<html>
<head>
    <title>Image Captioning-1</title>
</head>
<body>
    <h1>Image Captioning-1</h1>
    <form action="/generate-caption" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*">
        <input type="submit" value="Generate Caption">
    </form>
    <div id="caption">
    <img id="uploaded-image" src="" alt="Uploaded Image">
    <div id="captions"></div>
</div>
    <script>
        const form = document.querySelector("form");
        const captionDiv = document.getElementById("caption");

        form.addEventListener("submit", async (e) => {
            e.preventDefault();

            const formData = new FormData(form);
            const response = await fetch("/generate-caption", {
                method: "POST",
                body: formData
            });
            const data = await response.json();
            captionDiv.innerText = data.captions.join(", ");
        });
    </script>
</body>
</html>